html  {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}

#bannerImage{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

body{
    background: url(http://www.mbrsg.ae/App_Themes/CorporateSite/Images/bg-new.jpg) repeat;
}
.infoContainer{
display:flex;
justify-content:align-items;
width:100%;
height:100%;
}

.leftIndex{
background:blue;
width:30%;
height:100%;
}

.rightInfo{
width:100%;
background:yellow;
}

#contentBox{
    padding-top:20px;
}

.footer{
    padding-top:20px;
    height:300px;
    width:90%;
    color:white;
}

#main {
    background:#194d84;
}

.content{
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125); 
}

#breadcrumbCurrent{
    color:white;
}

.sidebar{
    position:fixed;
    height:300px;
    width:45px;

    right:0%;
    top:27.4%;
}

@media (max-width: 768px) {
    .sidebar{
        visibility: hidden;
    }
}

.sIcon{
    width:45px;
    height:45px;
}

.footerContent{
    width:250px;
    margin-top:40px;
}



.footerTitle{
    font-size:18px;
    text-transform:uppercase;
}

.footerText{

    font-size:14px;
}
.newsletterSubmition{
    padding-top:15px;
}
.email{
    padding:5px;
    border:2px;
    border-radius:3px;
    width:175px;
}

.submit{
    color:White;
    background:#194d84;
    padding:5px;
    border:2px;
    border-radius:3px;
}

.contactIcon{
    margin-right:15px;
    height:20px;
    width:20px;
}

.noStyle{
    line-height: 35px;
    margin:0;
    padding:0;
    list-style-type:none;
}


.listContainer{
    display:flex;
}

.footerNavigation{
    margin:0;
    padding:0;
    line-height:28px;
}

@media (max-width: 576px) {
    #footer {
        display:flex;
        flex-direction: column;

        align-items:center;
    }
    #ftr{
        height:100%;
    }}
  @media (max-width: 768px) {
    #footer {
        display:flex;
        flex-direction: column;

        align-items:center;
    } 
    #ftr{
        height:100%;
    }
}
#footer{
    display:flex;
    justify-content:space-between;
    color:white;
}

.endFtr{
    margin-top:30px;
    border-top:2px solid #232323;
    color:white;
    font-size:11px;
}

.endFtrContent{
    width:650px;
    display:flex;
    justify-content:space-between;
    padding:5px;
}


.endFtrContent > a{
    color:white;
}
/* Contact Us page CSS */
.card{
    margin-bottom:20px;
}
.contactContent{
position:center;
width: 90%;
margin: 0 auto;
height:100%;
display:flex;
justify-content:space-around;
flex-wrap:wrap;
margin-top:30px;
margin-bottom:-30px;
}

.contactBox{
    font-size:14px;
    width:315px;
    height:100px;
    margin:20px;
    
    
}

.contactHeader{
    font-weight:bold;
    line-height:25px;
}   

#large{
    width:100%;

}

#mapContainer{
margin:0 auto;
margin-top:40px;
margin-bottom:50px;
height:400px;
width:85%;
}

.topBanner{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom:20px;
}

/* Registration Form*/

#radioSeperator {

    display:flex;
    justify-content:space-around;
}
/* Events */
.eventColumn{

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    flex-wrap:wrap;

}

.event{
    display:flex;

}

.eventDetails{

    margin:10px;
    
}
.eventImg{
    flex-shrink: 0;
    margin-top:20px;
    width:180px;
    height:110px;


}
.eventPic{
    max-width:100%;
    max-height:100%;
}

.eventDate{
font-size:14px;
}

.eventName{
    color: #194d84;
    font-weight: bold;
}

.eventDesc{
    font-size:14px;
   
}

.eventDate,.eventName,.eventDesc{
margin:3px;
}

.pageNumFtr{
   
    margin: 0 auto;
    margin-top:20px;
}

/* Board Styling */
.title{
    font-size:36px;
    color: #194d84;
    width:100%;
   text-align:center;
}
.board{
    margin-top:50px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.member{
    
        width:90%;
    display:flex;
    margin:50px;
    margin-top:10px;
    border-bottom:1px solid #194d84;
    padding-bottom:30px;
}

.smallInfo{
    color:#194d84;
    margin-left:20px;
    line-height:20px;
}
.profilePic{
    display:flex;
    justify-content:center;

margin-bottom:5px;
width:100px;
height:120px;
flex-shrink: 0; 

}

.profpic{
    max-width:100%;
max-height:100%;
}
.memberBio{
margin-top:10px;
color:black;

}

.profile{
    display:flex;
    justify-content:center;
    flex-direction: column;
    
}

/* EVENT READ MORE */
.eventExpand{

}
.eventBanner{

    width:80%;
    margin:0 auto;
    height:250px;
    background:red;
}

.eventBio{
    
    margin:30px;
    margin-top:40px;
}
.distancer{
    display:flex;
    justify-content:space-between;
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #194d84;
}
.eventDet{

    
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;

   
    height:150px;
    margin: 50px auto;
   
}
#top{
    border-top:1px solid #194d84;
    

}

.eventD1,.eventL1,.eventT1{
    
    width:40%;
}

.eventD2,.eventL2,.eventT2{
    width:60%;
}
/*
-----OVERWRITING BOOTSTRAP.CSS----
*/
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #194d84; }

.bg-primary {
    background-color: #194d84!important; } 

@media (min-width: 576px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 992px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

      .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #194d84;
        border-radius: 0.25rem; 
        margin-top:20px;}
      
      .breadcrumb-item + .breadcrumb-item {
        padding-left: 0.5rem; }
        .breadcrumb-item + .breadcrumb-item::before {
          display: inline-block;
          padding-right: 0.5rem;
          color:white;
          content: "/"; }
      
      .breadcrumb-item + .breadcrumb-item:hover::before {
        text-decoration: underline; }
      
      .breadcrumb-item + .breadcrumb-item:hover::before {
        text-decoration: none; }
      
      .breadcrumb-item.active {
        color: #6c757d; }

        .dropdown:hover .dropdown-menu{
            display:block;
          }

          @media only screen and (min-width: 768px) {
            .dropdown:hover .dropdown-menu{
               display:block;
            }
          }

          .btn-primary {
            color: #fff;
            background-color: #194d84;
            border-color: #194d84; }
            .btn-primary:hover {
              color: #fff;
              background-color: #0069d9;
              border-color: #0062cc; }
            .btn-primary:focus, .btn-primary.focus {
              box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
            .btn-primary.disabled, .btn-primary:disabled {
              color: #fff;
              background-color: #194d84;
              border-color: #194d84; }
            .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
            .show > .btn-primary.dropdown-toggle {
              color: #fff;
              background-color: #194d84;
              border-color: #194d84; }
              .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
              .show > .btn-primary.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }